.btnReset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: inline-block;

  cursor: pointer;
  font-family: 'Montserrat';

  // При нажатии на моб. элемент не выделяется синим
  -webkit-tap-highlight-color: transparent;
}

.btnLogin {
  position: relative;

  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;

  color: #bebebe;

  background: transparent;

  border: 0.1rem solid rgba(31, 31, 31, 0.3);
  padding: 0.8rem 3rem;
  border-radius: 1rem;

  margin-top: 3rem;

  transition: background 0.2s linear;

  &:hover {
    background: rgba(31, 31, 31, 0.3);
    border: 0.1rem solid transparent;
  }

  svg {
    position: absolute;
    width: 100%;
    height: 100%;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.btnRegistration {
  color: #bebebe;
  background: #535d81;

  font-size: 1.7rem;
  font-weight: 500;

  margin-top: 1.3rem;
  padding: 1rem 2.8rem;
  position: relative;

  border-radius: 0.2rem;
  z-index: 1;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0.2rem;
    background: #454566;
    top: 0;
    left: -100%;
    z-index: -1;

    transition: all 0.25s ease-in-out;
  }

  &:hover::before {
    left: 0;
  }

  svg {
    position: absolute;
    width: 100%;
    height: 100%;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  span {
    z-index: 2;
  }
}

.btnLogout {
  width: 5rem;
  height: 5rem;

  background-color: #78809e;

  background-image: url('../../img/btnLogout.svg');
  background-repeat: no-repeat;
  background-size: 55%;
  background-position: right 0.9rem top 1.1rem;
  border-radius: 0.5rem;

  transition: background-color 0.25s ease-in-out;

  &:hover {
    background-color: #656e8e;
  }

  @media (max-width: 530px) {
    width: 4.5rem;
    height: 4.5rem;
    background-position: right 0.6rem top 0.9rem;
    border-radius: 0.5rem;
  }

  @media (max-width: 395px) {
    width: 4rem;
    height: 4rem;
    background-position: right 0.6rem top 0.9rem;
    border-radius: 0.5rem;
  }
}
