.blockWrapper {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: -10rem;
    left: 0;
}

.modal {
    // width: 40rem;
    width: 42rem;

    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0rem 0.3rem 1.3rem rgba(0, 0, 0, 0.15);
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 4rem;
}
