.blockWrapper {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: -10rem;
    left: 0;

    @media (max-width: 480px) {
        width: 100vw;
        height: 100vh;
        display: block;
        position: static;
        img {
            display: block;
            margin: 18rem auto 0;
        }
    }

    @media (max-height: 700px) {
        top: 0;
    }

}

.modal {
    width: 42rem;

    background: var(--modal-bg-color);
    box-shadow: 0rem 0.3rem 1.3rem rgba(0, 0, 0, 0.15);
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 4rem;

    position: relative;

    
    // Errors /registrationconfirm
    p {
        position: absolute;
        bottom: 13.3rem;

        color: #ff5c5c;
        font-size: 1.2rem;
    }

    a {
        // При нажатии на моб. элемент не выделяется синим
        -webkit-tap-highlight-color: transparent;
    }

    @media (max-width: 480px) {
        width: 100%;
        height: 100%;
        border-radius: 0;
        padding-top: 14rem;
        box-shadow: none;
    }

    @media (max-height: 560px) {
        padding-top: 7rem;
    }
}
