.leftSide {           
    background: #444d73;   
    // flex-grow: 1;

    overflow-y: scroll;

    min-width: 37rem;
    // min-width: 31rem;

    &::-webkit-scrollbar {
        width: 7px;
        background: #444d73;
    }

    &::-webkit-scrollbar-thumb {
        // border-radius: 10px;
        background: #a2a7bb;
    }

    &::-webkit-scrollbar-track {
        // border-radius: 10px;
        // background: var(--main-bg-color);
        background: #444d73;
    }

    @media (max-width: 1000px) {
        flex-grow: 1.5;

        max-width: 31rem;
    }

    @media (max-width: 870px) {
        min-width: 33rem;
    }

    @media (max-width: 813px) {
        max-width: none;
        // height: calc(100vh - 16rem);
        height: calc(calc(var(--vh, 1vh) * 100) - 16rem);
    }

    @media (max-width: 370px) {
        // height: calc(100vh - 14rem);
        height: calc(calc(var(--vh, 1vh) * 100) - 14rem);
    }
}