.personBox {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #c1c1c1;
  cursor: pointer;

  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;

  .infoUser {
    display: flex;
    padding: 1.5rem 0 1.5rem 1.5rem;
    transition: background 0.15s ease-in-out;

    // &:hover {
    //     background: #525b86;
    // }

    flex-grow: 10;

    .infoName {
      padding-left: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0.4rem;

      max-width: 15rem;
      overflow-x: hidden;
      span {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 1.7rem;

        letter-spacing: 0.05rem;

        color: #ffffff;
      }

      .infoDepartment {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.2rem;
        letter-spacing: 0.05em;

        color: #a7b2dc;
      }
    }
  }

  .messageUserIcon {
    padding: 3rem;
    transition: background 0.15s ease-in-out;
    background: #3e466a;

    &:hover {
      background: #444d73;
    }
  }
}
