.generalBlock {
    position: relative;

    .generalContent {
        display: flex;
        height: calc(100vh - 22rem);

        @media (max-width: 813px) {
            height: calc(100vh - 16rem);
        }

        @media (max-width: 425px) {
            display: block;
            // height: calc(100vh - 22rem);
        }

        @media (max-width: 370px) {
            height: calc(100vh - 14rem);
        }
    }

}