.rightSide {
    padding: 2rem 0 2rem 2rem;
    flex-grow: 7;
    overflow: hidden;

    @media (max-width: 813px) {
        padding: 0;
        position: absolute;
        top: -16rem;
        left: 0;
        width: 100vw;

        // height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
    }
}