.messageBlock {
  word-wrap: break-word;
  border-radius: 6px;
  padding: 1rem 4.5rem 1rem 1.5rem;
  position: relative;
  max-width: 70%;

  .messageDate {
    position: absolute;
    right: 0.7rem;
    bottom: 0.7rem;

    cursor: pointer;
  }
}

.messageLeft {
  display: flex;
  justify-content: flex-start;
  .messageBlock {
    background: #dfdfdf;

    .messageText {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 1.7rem;
      color: #4f4f4f;
    }
    .messageDate {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 1.2rem;
      line-height: 1.5rem;
      color: #808080;
    }
  }
}

.messageRight {
  display: flex;
  justify-content: flex-end;
  .messageBlock {
    background: #818dcb;

    .messageText {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 1.7rem;
      color: #ffffff;
    }
    .messageDate {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 1.2rem;
      line-height: 1.5rem;
      color: #cccccc;
    }
  }
}

.messageTooltip {
  background: #626262 !important;
  padding: 0.2rem !important;
  font-family: 'Montserrat' !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 1.3rem !important;
  line-height: 1.5rem !important;
  color: #ffffff !important;

  &::before,
  &::after {
    width: 0 !important;
    height: 0 !important;
    border: none !important;
  }
}
